.app-navbar{
  text-align: center; 
  background-color: $blue-artisan-dark-4; 
  color: #FFF;
  line-height: 23px;
}

nav {
  .logo{
    overflow: hidden;
    height: 62px;
    padding: 0px;
    top: -1px;
    img{
      height: 100%;
    }
  }  
}